<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuli.monitor">

    <!-- 02ee0345d8b9c38cb58ed5cf66404362-高德地图key-wdm -->
    <!-- a5c995a2185ebbce75b39bc7eb393f2e-高德地图key-wdm -->


    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.xuli.application.MontiorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_monitor"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MonitorTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TraceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolBarAndTranslucent"></activity>
        <activity
            android:name=".MonitorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolBarAndTranslucent"></activity>
        <activity
            android:name=".Realtime_activity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolBarAndTranslucent"></activity>
        <activity
            android:name=".WebScoketActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolBarAndTranslucent"></activity>
        <activity
            android:name=".MonotorSelectorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ToolBarAndTranslucent"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".Test"
            android:screenOrientation="portrait"
            android:theme="@style/ToolBarAndTranslucent"></activity>

        <service android:name="com.xuli.Webservice.Web_Scoket_Service"></service>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="02ee0345d8b9c38cb58ed5cf66404362" />


    </application>

</manifest>
